@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Quicksand&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2e3440;
  color: #eceff4;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  place-content: center;
  font-size: 14px;
  transition: all 0.4s ease;
}

::selection,
::-moz-selection {
  background-color: #d8dee9;
  color: #2e3440;
}

#date-time {
  text-align: center;
  transition: all 0.4s ease;
  margin-bottom: 120px;
  transition: all 0.4s ease;
}

#date-time.not-loaded {
  opacity: 0;
}

#date-time.loaded {
  opacity: 1;
}

#time {
  font-family: "Roboto Mono", sans-serif;
  font-size: 10em;
}

#date {
  font-family: "Quicksand", sans-serif;
  font-size: 2.3em;
  margin-top: -140px;
}

#quote-container {
  width: 500px;
  height: 300px;
}

#quote,
#author {
  font-family: "Quicksand", sans-serif;
  margin: auto;
}

#quote {
  text-indent: 3em;
  color: #e5e9f0cf;
  font-size: 1.2em;
  margin-bottom: 20px;
  line-height: 1.5;
}

#author {
  color: #d8dee9de;
  font-size: 0.9rem;
  font-style: italic;
  letter-spacing: 1px;
  margin-right: 4rem;
  text-align: right;
}

#quote::first-letter {
  font-size: 2em;
  line-height: 0.5;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }

  #date {
    margin-top: -90px;
  }

  #quote-container {
    width: 300px;
  }
}
